[submodule "back_alfa"]
	path = back_alfa
	url = https://github.com/debugByPrintln/recommendation-signature-server
[submodule "front_alfa"]
	path = front_alfa
	url = https://github.com/IlushaSPB/front_alf_hack
[submodule "model_alfa"]
	path = model_alfa
	url = https://github.com/xenopupel/ml_service_alpha_hack
